

   


/* Превый блок "CUDA"*/
/* Верхняя плашка */
.promoContainer{
    background-color: #87509c;
}

.wrapper{
    margin: auto;
}

.icon img{
    width: auto;
}

.header{
    margin-left: auto;
    margin-right: auto;
    font-family: 'TitilliumWeb-Regular';
    color: white;
}

.icon{
    padding-top: 57px;
    text-align: center;
}



.headerBtns{
    padding-top: 60px;
}

.headerBtnsPack{
    font-size: 16px;
    font-family: 'TitilliumWeb-Regular';
    color: white;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.menuBtn{
    height: 32px;
    width: 77px;
    background-color: #87509c;
    border-color:#87509c;
    padding: 0px;
    margin-left: 5px;
    color: #fff;
}

.menuBtn:hover{
    background-color: #643a79 ;
    border-color: #87509c ;
    color: #fff;
}

.menuBtn:focus, .menuBtn:visited {
    background-color: #643a79 ;
    border-color: #87509c ;
    box-shadow: none;
    color: #fff;
}
/* Конец верхней плашки */


/* Область с текстом */
.promo{
    padding-bottom: 100px;
}

.promoText{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 145px;
    text-align: center;
    font-family:'TitilliumWeb-Bold';
    font-size: 42px;
    line-height: 48.82px;
    color: white;
}

.promoBotBtn{
    padding-top: 54px;
}

.BotBtn{
    width:293px; 
    height: 70px;
    background-color:  #eb7d4b;
    font-family:'TitilliumWeb-SemiBold';
    font-size: 18px;
    font-weight: 400;
    line-height: 26.19px;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    color: white;
}

.BotBtn:hover {
    background-color: #eb7d4b;
    border-bottom: 6px solid rgba(0, 0, 0, 0.12);
    color: white;
}

.BotBtn:focus{
    box-shadow: none;
    color: white;
}

.BotBtn:active{
    background-color:  #eb7d4b;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
    color: white;
}
/* Конец область с текстом */
/* Конец первого блока */


/* Второй блок "Сервисы" */
.servicesContainer{
    background-color: #17c2a4;
}

/* Область с текстом */
.servicesTextPart{
    margin-left: auto;
    margin-right: auto;
    height: 241px;
}

.servicesText{
    height: 29px;
    padding-top: 117px;
    font-family: "TitilliumWeb-Bold";
    font-size: 40px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: white;
}

hr{
    border: none; 
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15; 
    margin-top: 21px;
    margin-bottom: 23px;
}

.servicesMidText{
    margin: auto;
    width: 55%;
    height: 45px;
    color: #ffffff;
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;  
    text-transform: none; 
}
/* Конец области с текстом */

/* Область с картинками */
.servicesContPart{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 128px;
}

.servicesContPart div{
    text-align: center;
    padding-top: 78px;
}

.servicesContPart p{
    color: #ffffff;
    font-family: 'TitilliumWeb-Regular';
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    margin-bottom: 27px;
}

.servicesContPart span {
    color: #ffffff;
    font-family: 'TitilliumWeb-Regular';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.flag p{
    padding-top: 62px;
}


.pen p{
    padding-top: 55px;
}

.gears p{
    padding-top: 60px;
}

.rocket p{
   padding-top: 53px;
}
/* Конец области с картинками */
/* Конец блока "Сервисы" */








/* Третий блок "Навыки" */
.skillsContainer{
    background-color: #ffffff;
}


.skills{
    padding-top: 117px;
    background-color: #fff;
}

.skillsText{ 
    font-family: "TitilliumWeb-Bold";
    font-size: 40px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #3c4761;
}

.skillsMidText{
    margin: auto;
    width: 49%;
    color: #3c4761;
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.36px;  
    text-transform: none;
}

.skillsContPart{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 122px;
}

.skillsContPart div{
    text-align: center;
    padding-top: 84px;
}

.skillsContPart p{
    padding-top: 32px;
    font-family: "TitilliumWeb-Bold";
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}
/* Конец третьего блока */




/* Четвертый блок "Портфолио" */
.portfolioContainer{
    background-color: #ffdd99;
}

.portfolioText{
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    font-family: "TitilliumWeb-Bold";
    font-size: 40px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #393939;
}

.portfolioMidText{
    margin: auto;
    width: 47%;
    color: #393939;
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;  
    text-transform: none;
}

.menuPortfolio{
    padding-top: 42px;
}

.menuPfolioBtn{
    width: 84px;
    height: 38px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.12);
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 19.5px;
    text-transform: uppercase;
    letter-spacing: 0.36px;
}

.menuPfolioBtn:hover, .menuPfolioBtn:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}

.menuPfolioBtn:active{
    background-color:rgba(0, 0, 0, 0.35);
    color: #ffffff;
}

.portfolioContPart{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 109px;
}

.portfolioContPart>div{
    padding-top: 62px;
    text-align: center;
}

.portfolioContPart p{
    padding-top: 30px;
    color: #393939;
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 19.5px;
    text-transform: uppercase;
    letter-spacing: 0.36px;
}

.portfolioBotBtn{
    width: 293px;
    height: 70px;
    background-color: #17c2a4;
    font-family:'TitilliumWeb-SemiBold';
    font-size: 18px;
    font-weight: 400;
    line-height: 26.19px;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    color: white;
}

.portfolioBotBtn:hover {
    background-color: #17c2a4;
    border-bottom: 6px solid rgba(0, 0, 0, 0.12);
    color:  rgb(255, 255, 255);
}

.portfolioBotBtn:focus{
    box-shadow: none;
}

.portfolioBotBtn:active{
    background-color: #17c2a4;
    color:  #ffffff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
/* Конец четвертого блока */








/* Пятый блок "Поля ввода" */
.getInTouch{
    margin-left: 0px;
    margin-right: 0px;
}

.getInTouchContainer{
    background-color: #3c5499;
    padding: 0;
    height: auto;
}

.getInTouchText{
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    font-family: "TitilliumWeb-Bold";
    font-size: 40px;
    line-height: 29.91px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
}

.getInTouchMidText{
    margin: auto;
    color: #ffffff;
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;  
    text-transform: none;
}

.formswrapper{
    margin-left: auto;
    margin-right: auto;
    margin: 0 100px;
}

.getInTouchTopForms{
    padding-top: 76px;
}

.topForm1wrap, .topForm2wrap{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 25px;
}

.topForm1, .topForm2{
    width: 92.8%;
    height: 55px;
    background-color: #273a71;
    border-color:  #273a71;
    color: #ffffff;
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    text-transform: none;
}

.getInTouchMidForm{ 
    margin-left: auto;
    margin-right: auto;
}

.midForm{
    width: 96.5%;
    height: 200px;
    background-color: #273a71;
    border-color:  #273a71;
    color: #ffffff;
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    text-transform: none;
}

.topForm1:focus, .topForm2:focus, .midForm:focus{
    background-color: #273a71;
    border-color:  #273a71;
    box-shadow: none;
}

.gitbbset{
    padding-top: 60px;
    padding-bottom: 115px;
}

.getInTouchBotBtn{
    width: 293px;
    height: 70px;
    background-color: #30bae7;
    font-family:'TitilliumWeb-SemiBold';
    font-size: 18px;
    font-weight: 400;
    line-height: 26.19px;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    color: white;
}

.getInTouchBotBtn:hover {
    background-color: #30bae7;
    border-bottom: 6px solid rgba(0, 0, 0, 0.12);
    color:  rgb(255, 255, 255);
}

.getInTouchBotBtn:focus{
    box-shadow: none;
}

.getInTouchBotBtn:active{
    background-color: #30bae7;
    color:  rgb(255, 255, 255);
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
/* Конец пятого блока */

.footer{
    background-color: #344b8e;
}

.footerCont{
    padding-top: 45px;
    padding-bottom: 41px;
    text-align: center;
    color: #ffffff;
    font-family:'TitilliumWeb-SemiBold';
    font-size: 24px;
    font-weight: 400;
    line-height: 29.91px;
    letter-spacing: 0.48px;
    letter-spacing: 0.48px;
}

.footerCont ul{
    padding: 0mm;
}

.footerCont ul li{
    display: inline;
    margin: 0 20px;
}

a{
    color: #ffffff;
}

a:hover{
    color: #30bae7;
    text-decoration: none;
}



@media(min-width: 768px){
    
    .wrapper{
        width: 750px;
    }
}

@media(min-width: 992px){

    .wrapper{
        width: 970px;
    }
}

@media(min-width: 1200px){
    .wrapper{
        width: 1170px ;
    }
}


@media(max-width: 992px){

    .promoText{
        padding-top: 65px;
        font-size: 32px;
        
    }

    .servicesMidText{
        width: 70%;
    }

    .skillsMidText{
        width: 70%;
    }

    .portfolioMidText{
        width: 70%;
    } 
}

@media(max-width: 768px){

    .servicesContPart{
        padding-top: 10px;
    }

    .promoText{
        padding-top: 65px;
    }

    .servicesMidText{
        width: 80%;
    }

    .skillsMidText{
        width: 80%;
    }

    .portfolioMidText{
        width: 80%;
    }

    .pcpIcon{
        width: 75vw;
    }
    
}
    
@media(max-width: 576px){

    .promoText{
        padding-top: 65px;
    }

    .servicesMidText{
        width: 100%;
    }

    .skillsMidText{
        width: 100%;
    }

    .portfolioMidText{
        width: 100%;
    }

    .pcpIcon{
        width: 75vw;
    }
}







